#selections {
  display:none;
}
.selectionA {
  display:none;
}
.selectionB {
  display:none;
}
.selectionC {
  display:none;
}
.selectionD {
  display:none;
}
.intro {
  width: 80%;
  border: 15px solid black;
  padding: 20px;
  margin: 20px;
  text-align:center;
}
body {
  background-color:beige;
}
.button {
  padding:20px;
}
h2 {
  padding:20px;
}